[submodule "FCCAnalyses"]
	path = FCCAnalyses
	url = https://github.com/HEP-FCC/FCCAnalyses.git
[submodule "FCCAnalyses_BNL_Dev"]
	path = FCCAnalyses_BNL_Dev
	url = https://github.com/BNL-FCCee/FCCAnalyses.git
[submodule "FCCeePostCutCode"]
	path = FCCeePostCutCode
	url = https://github.com/BNL-FCCee/FCCeePostCutCode.git
